
@section CustomCss{
        <link href="~/Content/custom.css" rel="stylesheet" />
    }

@section Scripts{
        <script src="~/Scripts/Custom/DisplayCanvas.js"></script>
    }

<div id="positionTheCanvas"> 
 <canvas id="canvas"></canvas> 
</div>
